.red-chip{
    background-color:var(--primary-color-red) ;
    height: 40px;
    color: #fff;
}
.release-chip{
    height: 32px;
}
.white-chip{
    background-color: #fff;
    height: 44px;
}
.chip-container{
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}