.card-updated-container{
    height: 103px;
    width: 206px;
    display: flex;
}
.card-updated-container__image{
    height: 100%;
    width: 63px;
}

.card-updated-container__info{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-left: 24px;
    justify-content: space-around;
}
.updated-info__header,.updated-info__data{
    color: #fff;
    
}
.updated-info__header{
    font-size: 12px;
    font-weight: var(--fw-bold);
}
.updated-info__data{
    font-weight: 400;
    font-size: 12px;
}